body {
    
    background-color: rgb(128, 219, 128);
    font-family: 'SF Pixelate', sans-serif;
    margin: 0;
}


header img{
    width: 500px;
    height: 150px;
    margin-left: 725px;

}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:flex-start;
    margin: 10px;
    padding-top: 10px;
    padding-left: 50px;
    text-align: center;
}
 
.instructions h1{
    text-decoration: underline;
    padding-left: 50px;
}
#canvas {
    background-color: rgb(12, 68, 12);
    display: none;
    
}


canvas{
    margin-top: 0px;
 margin-right: 130px;
}


.startgame img {

    height: 100px;
    width: 200px;
    padding-top: 350px;
    margin-left: 60px;
}

.score{
    padding-right: 200px;
    padding-left: 10px;
}
